@import "../../styles/variables/mixins";
.Current-bets {
  width: 100%;
  background: #2e3438;
  margin-top: 10px;
  margin-bottom: 10px;
.detailSearch {
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% - 30px);
    margin: 10px auto;
    justify-content: space-between;
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    p {
      margin: 0;
      padding: 0;
      color: #aaafb5;
      font-size: 25px;
      font-weight: 600;
      @media (max-width: 767px) {
        padding-left: 8px;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .search {
      width: 30%;
      position: relative;
      display: flex;
      @media (max-width: 767px) {
        width: 98%;
        margin: 5px auto;
      }
      svg {
        position: absolute;
        top: 15%;
        right: 15px;
        color: #aaafb5;
      }
    //   input {
    //     width: 95%;

    //     font-size: 14px;
    //     padding: 8.5px 0px 8.5px 14px;
    //     border: none;
    //     background: #23292d;
    //     color: #aaafb5;
    //     border-radius: 5px;
    //     outline: none;
    //   }
    }
  }
  .sports-Casino{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #17191c;
    p{
        color: #aaafb5;
        // border-bottom: 2px solid white;
padding-left: 10px;
padding-right: 10px;
        padding-bottom: 7px;
        cursor: pointer;
    }

  }
.matched-deleted{
    display: flex;

    padding: 6px 15px;
    gap: 20px;
    .matched{
        display: flex;
        align-items: center;
        span{
            color:#aaafb5
        }


}
}
.input-checked{
    &:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
&:focus{
    box-shadow: 0 0 0 .25rem #0d6efd40;
}
}

.entriesAllsec{
    width: 80%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    color: #aaafb5;
    padding: 0 15px;
    font-size: 14px;
    .entries-sec{
        display: flex;
        width: 20%;
        align-items: center;
        // background: red;
        gap: 5px;
    }
    .matched{
        label{
            margin-right: 10px;
        }
    }
    .totalBetaAmount{
        display: flex;
        gap: 20px;
        align-items: center;
        p{
            padding: 0;
            margin: 0;
            span{
                color: green;
            }
          
        }
    }

}

}