.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6px 10px !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    color: #aaafb5 !important;
}
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    color: #aaafb5 !important;

}
.css-z3c6am-MuiFormControl-root-MuiTextField-root {
    border:1px solid #aaafb5 !important;
    border-radius: 4px;
}
.css-10o2lyd-MuiStack-root {
    padding-top: 2px !important;
}