@import "../../styles/variables/mixins";
.nav-main{
    width: 100%;
    background: #762e56;
    @media (max-width: 767px) {
     
        background: red;
        font-size: 8px;
        display: none;
            
        }
    .menu-list{
        display: flex;
        
        margin: 0%;
        padding: 0%;

justify-content: center;
gap: 50px;
align-items: center;
a{
    text-decoration: none;
    :hover{
        color: rgb(253, 207, 19)!important;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: 800;
    color: white;
    position: relative;
    // padding-inline: 20px;
    padding-block: 4px;
    list-style: none;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    &::before{
        position: absolute;
        content: "";
        left: -30px;
        top: 50%;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: white;
        transform: translateY(-50%);
    }
    }
    .active{
        color: rgb(253, 207, 19)!important;
        border-bottom: 2px solid rgb(253, 207, 19) !important;
    }
}
}
}